.contact__flex{
    background-color: var(--white);
    padding-bottom: 60px;
}
.contact__info{
    padding-top: 30px;
    padding-left: 50px;
}
.contact__item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact__icon{
    font-size: 25px;
    color: var(--orange);
}
.item__text{
    line-height: 1.3;
    margin-left: 20px;
    color: var(--darkblue);
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
.item__text::first-line{
    font-weight: 500;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.input,
.name__group,
.number__group,
.email__group,
.message__group,
.input__message{
    width: 100%;
}
.input{
    border: 1px solid var(--darkblue);
    height: 40px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}
.input input{
    padding: 5px;
    width: 100%;
    height: 100%;
    color: var(--darkblue);
    font-weight: 600;
    border: none;
    outline: none;
}
.input__message{
    border: 1px solid var(--darkblue);
    position: relative;
    width: 100%;
    /* height: 100%; */
    border: none;
}
.input__message textarea{
    padding: 5px;
    font-weight: 600;
    resize: none;
    outline: none;
    width: 100%;
}
*::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 16px;
}
.button__contact{
    width: 35%;
    margin-top: 20px;
}
.separator__contact{
    margin-top: 40px;
    text-align: center;
    color: var(--white);
    font-size: 18px;
}
.input.input--valid{
    border: 1px solid rgb(0, 173, 0);
}
.input.input--error{
    border: 1px solid var(--red);
}
.input--error::after{
    content: url(../img/icon-error.svg);
    position: absolute;
    right: 20px;
    top: 15%;
    /* transform: translateY(-50%); */
    transform: scale(.8);
}
.error{
    display: none;
    margin-top: -5px;
    margin-left: 10px;
    color: var(--red);
    font-style: italic;
    font-size: .8rem;
}
.error.error--active{
    display: block;
}
.message__group .error:last-of-type{
    margin-top: 0px;
}
.warning__submit{
    display: none;
    color: var(--red);
    font-weight: 700;
}
.warning__submit.warning__submit--invalid{
    display: block;
}
.warning__submit.warning__submit--success{
    display: block;
    color: rgb(0, 173, 0);
}
@media screen and (min-width: 1024px){
    .contact__flex{
        display: flex;
        justify-content: space-evenly;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .item__text{
        font-size: 16px;
    }
    .contact__icon{
        font-size: 30px;
    }
    .form{
        width: 30%;
        padding: 0;
        margin: 0;
    }
    .error{
        font-size: .9rem;
    }
}